## Lists

In [20]:
l1 = [1,2,3]

In [21]:
# appends element or object at end of list
l1.append(4)
l1

[1, 2, 3, 4]

In [22]:
l1.append([5.6])

In [23]:
l1

[1, 2, 3, 4, [5.6]]

In [24]:
# extend , appends each element of iterable object
l1.extend([7,8,9])
l1

[1, 2, 3, 4, [5.6], 7, 8, 9]

In [25]:
#insert , add element to specific index
l1.insert(3,10) # it always expects 2 arguments
l1

[1, 2, 3, 10, 4, [5.6], 7, 8, 9]

In [26]:
#remove, remove the first occurence of element
l1.remove(3)
l1

[1, 2, 10, 4, [5.6], 7, 8, 9]

In [29]:
# sort , sort elemnts of list
l1.remove([5.6]) # sort is not supporting here
l1.sort(reverse=True)
l1

[10, 9, 8, 7, 4, 2, 1]

In [30]:
# Slicing
l1[:]

[10, 9, 8, 7, 4, 2, 1]

In [31]:
l1[:2] # gets first 2 elements

[10, 9]

In [32]:
l1[1:4] # gets elements between indices

[9, 8, 7]

In [34]:
l1[1::4] # gets elements from index 1 and with step 4

[9, 2]

In [35]:
l1[0::2]

[10, 8, 4, 1]

In [37]:
# List Comprehension
[i*2 for i in l1]

[20, 18, 16, 14, 8, 4, 2]

In [38]:
# List as stack and queue
l1.pop()
l1

[10, 9, 8, 7, 4, 2]

In [39]:
l1.append(11)

In [40]:
l1.append(12)
l1

[10, 9, 8, 7, 4, 2, 11, 12]

In [41]:
l1.pop(0)

10

In [42]:
l1

[9, 8, 7, 4, 2, 11, 12]

## Tuples

In [44]:
t1 = (1,2,3)
t1[0]

1

In [46]:
t2 = 'a', 'b'  # can create without paratheses
t2

('a', 'b')

In [48]:
# tuple with single element
st1 = (2,)
st1

(2,)

In [49]:
st1 *4 # u can repeat a tuple by multiplying a number

(2, 2, 2, 2)

In [50]:
t3 = (1,'a')
t3

(1, 'a')

In [52]:
# tuples as key value pairs
d = dict([('a',1),('b',2),('c',3)])
d['b']

2

In [53]:
# assign multiple values
(x,y,z) = (1,2,3)
print (x,y,z)

1 2 3

In [54]:
a , b , c = (x,y,z) # unpacking
print (a , b , c)

1 2 3

## map , filter , reduce

In [58]:
l2 = [1,4,5,6,7,8,9]
l3 = l2.map(lambda x: x*5) # list does not have map
l3

AttributeError: 'list' object has no attribute 'map'

In [62]:
l3 = map(lambda x: x *5,l2)
list(l3)

[5, 20, 25, 30, 35, 40, 45]

In [64]:
l4 = filter(lambda x: x<6 , l2)
list(l4)

[1, 4, 5]

In [69]:
def add(a,b):
    return a+b

a1 = map(add,[1,2],[3,4])
tuple(a1)

(4, 6)

In [70]:
# reduce , applies given function to iterables and returns single value
from functools import reduce
reduce(lambda a,b : a+b,[1,2,3,4,5,6,7,8,9]) # adds each iterbale

45

## Generators

In [72]:
# generator function is like a normal function, but whenver it needs to generate value, 
# it does so with yield rather than return.

# generator objects are used either by caling the next method on the generator object or using for in loop

#The difference is that, while a return statement terminates a function entirely,
# yield statement pauses the function saving all its states and later continues from there on successive calls.

# https://www.programiz.com/python-programming/generator

def SimpleGen():
    yield 1
    yield 'a'
    yield 10
    yield 123
x = SimpleGen()
x.__next__()

1

In [73]:
x.__next__()

'a'

In [74]:
for i in x:
    print(i)

10
123

In [75]:
list1 = [1,2,3,4,5,6,7,8]
a_gen = (x**2 for x in list1)

a_gen

In [77]:
a_gen.__next__()

1

In [78]:
a_gen.__next__()

4